<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - TextUtils.com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
     <style>
    p {
      font-size: 18px;
      color: #555;
      line-height: 1.5;
      text-align:justify;
    }
    .width{
    width: 800px;
    }
  </style>
</head>
<body >
{% include 'header.html' %}
<div class="container">
  <main>
    <div class="container">
      <h1 style="text-align:center">About Us</h1>
      <p>Welcome to TextUtils.com, your go-to online text manipulation tool. We are dedicated to providing a simple and efficient solution for your text-related tasks.</p>
      <p>TextUtils.com offers a wide range of features to help you manipulate and analyze text in a hassle-free way. With our user-friendly interface, you can easily remove punctuation marks, count characters, change the case to uppercase, remove new lines, and eliminate extra spaces.</p>
      <p>Whether you are a student, writer, programmer, or anyone dealing with text, our tools can save you valuable time and effort. Need to prepare a clean text for analysis? Want to format your text according to specific requirements? TextUtils.com has got you covered!</p>
      <p>Whether you are a student, writer, programmer, or anyone dealing with text, our tools can save you valuable time and effort. Need to prepare a clean text for analysis? Want to format your text according to specific requirements? TextUtils.com has got you covered!</p>
      <p>Our team is committed to continuously improving and expanding our toolset to meet your evolving needs. We value simplicity, functionality, and reliability, ensuring that you have a smooth experience while using our platform.</p>
      <p>Please share your valuable feedback and contact with us for any query through our social media links in footer section </p>
      <p>Thank you for choosing TextUtils.com! We hope our text manipulation tools simplify your work and contribute to your success. Feel free to explore our website and start utilizing the power of TextUtils.com today!</p>
    </div>
  </main>
  </div>
  {% include 'footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
